@model IEnumerable<QUANLYTHUVIEN.Models.Employee>

@{
    ViewData["Title"] = "Index";
}

<h1>Nhân Viên</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Thêm</a>
</p>
<table class="table">
    <thead>
        <tr>
         <th>
                @Html.DisplayNameFor(model => model.EmployeeID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
          <td>
                @Html.DisplayFor(modelItem => item.EmployeeID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EmployeeID" class="btn btn-primary">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.EmployeeID" class="btn btn-primary">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.EmployeeID" class="btn btn-primary">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
